:root {
  --primary: #6979f8;
  --primary-hover: #a5affb;
  --primary: #2c3e50;
  --primary-hover: #2c3e50;
  --second: #be52f2;
  --second-hover: #dba5f5;
  --gray: #999999;
  --gray-hover: #4d4d4d;

  line-height: 1.5;
  font-weight: 400;
  // color: rgba(255, 255, 255, 0.87);
  // color: white;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Firefox */
  scrollbar-width: none;
  /* IE/Edge */
  -ms-overflow-style: none;
}

/* WebKit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    // color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    // color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
